body {
    font: 14px 'Century Gothic', Futura, sans-serif;
    margin: 20px;
    height: 100vh;
}

ol, ul {
    padding-left: 0px;
    list-style-type: none;
}

label {
    font: 15px 'Century Gothic', Futura, sans-serif;
    margin: 4px;
    color: #540099;
}

button {
    font: 14px 'Century Gothic', Futura, sans-serif;
    margin: 4px;
    width: 70px;
    height: 22px;
    border-radius: 8px;
    border: none;
    color: #540099;
    background: #fff;
}

.marks {
    color: #fff;
}

.board-header {
    font: 20px 'Century Gothic', Futura, sans-serif;
    margin-bottom: 5px;
    color: #540099;
    text-align: center;
}

.square {
    background: linear-gradient(20deg, #850fb8, #dd106f);
    border: none;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 74px;
    height: 74px;
    padding: 0;
    text-align: center;
    width: 74px;
    margin: 4px;
    border-radius: 5px;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

#root{
    display: flex;
    justify-content: space-around;
    height: 90%;
}

.login-form {
    display: flex;
    justify-content: right;
    align-items: baseline;
    width: 250px;
}

.content {
    display: flex;
    align-items: center;
}

.login-button {
    display: flex;
    margin-left: -25px;
    justify-content: center;
 }

.game-info {
    margin-left: 5px;
    height: 325px;
}

.board {
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}

.scoreboard {
    height: 400px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
}

.login-board {
    display: flex;
    justify-content: right;
    padding: 6px;
    border-radius: 10px;
    background: #fff;
}

.block {
    display: block;
}

.outer {
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.header-button {
    font: 18px 'Century Gothic', Futura, sans-serif;
    margin: 7px;
    width: 90px;
    height: 27px;
    border-radius: 8px;
    border: none;
    color: #540099;
    background: #fff;
}

input {
    background: linear-gradient(20deg, #850fb8, #dd106f);
    height: 20px;
    text-align: left;
    margin: 6px;
    border: none;
    color: #fff;
    font: 12px 'Century Gothic', Futura, sans-serif;;
    border-radius: 2px;
}

input:focus {
    outline: none;
}