body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    height: 100vh;
}

ol, ul {
    padding-left: 0px;
    list-style-type: none;
}

button {
    margin: 3px;
    width: 75px;
    height: 28px;
    border-radius: 10px;
    border: none;
    color: #540099;
    font: 14px "Century Gothic", Futura, sans-serif;
}

.marks {
    color: #fff;
}

.status {
    text-align: center;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 5px;
    font: 20px "Century Gothic", Futura, sans-serif;
    color: #540099;
}

.header-text {
}

.square {
    background: linear-gradient(20deg, #850fb8, #dd106f);
    border: none;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 74px;
    height: 74px;
    padding: 0;
    text-align: center;
    width: 74px;
    margin: 4px;
    border-radius: 5px;

}

.square:hover {
    outline: none;
    border: 2px;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.board-bg {
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
}

#root{
    display: flex;
    justify-content: center;
    height: 100%;
}

.game {
    flex-direction: row;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    height: 100%;
}

.game-info {
    margin-left: 20px;
}
